<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TestDao">
    <select id="single_choice" resultType="com.example.demo.structs.Single_Choice">
        select * from single_choice
    </select>
    <select id="single_choiceById" resultType="com.example.demo.structs.Single_Choice">
        select * from single_choice where id=#{id}
    </select>
    <insert id="single_choiceAdd" parameterType="com.example.demo.structs.Single_Choice">
        insert into s_wrong(question,choice1,choice2,choice3,choice4,answer) values(#{question},#{choice1},#{choice2},#{choice3},#{choice4},#{answer})
    </insert>
    <select id="single_choice_w" resultType="com.example.demo.structs.Single_Choice">
        select * from s_wrong
    </select>
    <select id="single_choice_wById" resultType="com.example.demo.structs.Single_Choice">
        select * from s_wrong where id=#{id}
    </select>
    <delete id="single_choiceDelete" parameterType="int">
        delete from s_wrong where id=#{id}
    </delete>
    <select id="s_w_count" resultType="int">
        select count(id) from s_wrong
    </select>
    <select id="single_choice_cById" resultType="com.example.demo.structs.Single_Choice">
        select * from s_collection where id=#{id}
    </select>
    <delete id="single_choice_cDelete" parameterType="int">
        delete from s_collection where id=#{id}
    </delete>
    <insert id="single_choice_cAdd" parameterType="com.example.demo.structs.Single_Choice">
        insert into s_collection(question,choice1,choice2,choice3,choice4,answer) values(#{question},#{choice1},#{choice2},#{choice3},#{choice4},#{answer})
    </insert>
</mapper>